<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>GRS</title>
     
        <!-- Font Awesome icons (free version)-->
        <script src="https://use.fontawesome.com/releases/v5.15.3/js/all.js" crossorigin="anonymous"></script>
        <!-- Google fonts-->
        <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css" />
        <link href="https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700" rel="stylesheet" type="text/css" />
        <!-- Core theme CSS (includes Bootstrap)-->
        <link href="/css/homepage.css" rel="stylesheet" />
    </head>
    <body style="background-image: url('images/5.webp')"; id="page-top">
        <!-- Navigation-->
   
        <!-- Masthead-->
        <header class="masthead">
            <div class="container">
                <div class="masthead-heading text-uppercase">Welcome To TTS</div>
                <div class="masthead-subheading ">Kindly Click here to check temperature details of your apartment</div>
                <button class="btn" type="submit" name="button" id="getTemp" style="background-color: white; color:blue">Click</button>
            </div>
        </header>
        <!-- Services-->
        <section class="page-section" id="services">
            <div class="container">
                <div class="text-center">
                    <h2 class="section-heading text-uppercase">Services</h2>
                    <h3 class="section-subheading text-muted">Some of the services we offer</h3>
                </div>
                <div class="row text-center">
                    <div class="col-md-4">
                        <span class="fa-stack fa-4x">
                            <i class="fas fa-circle fa-stack-2x text-primary"></i>
                            <i class="fas fa-user-plus fa-stack-1x fa-inverse"></i>
                        </span>
                        <h4 class="my-3">Hourly display of temp</h4>
                        <p class="text-muted">Get the hourly temp by having a glance at the graphs.</p>
                    </div>
                    <div class="col-md-4">
                        <span class="fa-stack fa-4x">
                            <i class="fas fa-circle fa-stack-2x text-primary"></i>
                            <i class="fas fa-laptop fa-stack-1x fa-inverse"></i>
                        </span>
                        <h4 class="my-3">Online</h4>
                        <p class="text-muted">Get temperature updates of your apartment at the comfort of your home</p>
                    </div>
                    <div class="col-md-4">
                        <span class="fa-stack fa-4x">
                            <i class="fas fa-circle fa-stack-2x text-primary"></i>
                            <i class="fas fa-info fa-stack-1x fa-inverse"></i>
                        </span>
                        <h4 class="my-3">Track Status</h4>
                        <p class="text-muted">Track and monitor the current status of your grievance at any time</p>
                    </div>
                </div>
            </div>
        </section>
        <!-- Portfolio Grid-->
        <!-- About-->
        <!-- Team-->
        <section class="page-section bg-light" id="team">
            <div class="container">
                <div class="text-center">
                    <h2 class="section-heading text-uppercase">Our Amazing Team</h2>
                </div>
                <div class="row">
                    <div class="col-lg-3">
                        <div class="team-member">
                            <img class="mx-auto rounded-circle" src="assets/img/team/4.jpeg" alt="..." />
                            <h4>Ishneet Sethi</h4>
                            <p class="text-muted">Work---</p>
                            <a class="btn btn-dark btn-social mx-2" href="https://github.com/ishneet890"><i class="fab fa-github"></i></a>
                            <a class="btn btn-dark btn-social mx-2" href="https://www.linkedin.com/in/ishneet-sethi-a9b4961a4/"><i class="fab fa-linkedin-in"></i></a>
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <div class="team-member">
                            <img class="mx-auto rounded-circle" src="assets/img/team/3.jpeg" alt="..." />
                            <h4>Nidhi Kamewar</h4>
                            <p class="text-muted">Work---</p>
                            <a class="btn btn-dark btn-social mx-2" href=""><i class="fab fa-github"></i></a>
                            <a class="btn btn-dark btn-social mx-2" href=""><i class="fab fa-linkedin-in"></i></a>
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <div class="team-member">
                            <img class="mx-auto rounded-circle" src="assets/img/team/2.jpg" alt="..." />
                            <h4>Mukul</h4>
                            <p class="text-muted">Work---</p>
                            <a class="btn btn-dark btn-social mx-2" href=""><i class="fab fa-github"></i></a>
                            <a class="btn btn-dark btn-social mx-2" href=""><i class="fab fa-linkedin-in"></i></a>
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <div class="team-member">
                            <img class="mx-auto rounded-circle" src="assets/img/team/1.jpeg" alt="..." />
                            <h4>Kishan</h4>
                            <p class="text-muted">Work---</p>
                            <a class="btn btn-dark btn-social mx-2" href="https://github.com/i"><i class="fab fa-github"></i></a>
                            <a class="btn btn-dark btn-social mx-2" href=><i class="fab fa-linkedin-in"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- Contact-->
        <!-- Footer-->
        <!-- Bootstrap core JS-->
        <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js"></script>
        <!-- Third party plugin JS-->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/animejs/3.2.1/anime.min.js"></script>
        <!-- Contact form JS-->
       
        <!-- Core theme JS-->
        <script src="js/scripts.js"></script>
    </body>
</html>
